@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section CardHeader{
    <span>Yetkiniz Yok!</span>


}

<div class="alert alert-danger col-md-6">Bu Alana Girmeye Yetkiniz Yoktur!</div>