@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />
<p>Kendi oluşturduğunuz anketlerin paylaşımı için bize ulaşın <p><b>INSTAGRAM:KUBILAYAHMETCENGIZ</b></p></p>
<b><p>Eposta:Anketler.com</p></b>